:root {
  --input-border-color: color-mix(in srgb, var(--text-color) 33%, transparent);
  --input-border-color-hover: color-mix(
    in srgb,
    var(--text-color) 66%,
    transparent
  );
  --input-border-color-focus: var(--text-color);
  --input-border-width: 1.5px solid;
}

.ff-field_container,
.ff-el-group {
  margin-bottom: 2rem !important;
}

.ff-t-cell .ff-el-group {
  margin-bottom: 0 !important;
}

#ff_1_email {
  margin-bottom: 3rem !important;
}

.ff-message-success {
  border: none !important;
  box-shadow: none !important;
  margin-top: none !important;
  padding: none !important;
}

@media (min-width: 768px) {
  .frm-fluent-form .ff-t-container {
    display: flex;
    gap: 32px !important;
  }
}

@media (max-width: 768px) {
  #ff_3_names_first_name_ {
    margin-bottom: 2rem !important;
  }
}

.ff-btn {
  /* Private Variables */
  --_border: none;
  --_shadow: var(--control-shadow);

  /* General Styling */
  padding: var(--c-button-padding-block) var(--c-button-padding-inline) !important;
  border-radius: var(--c-button-radius);
  font-size: var(--c-button-font-size);
  line-height: var(--c-button-line-height);
  font-weight: 600 !important;

  transition: var(--c-button-transition);
  -webkit-transition: var(--c-button-transition);

  /* Accessible Properties for Styling */
  background-color: var(--c-button-primary-bg) !important;
  color: var(--c-button-primary-text) !important;
  border: var(--c-button-primary-border) !important;
  box-shadow: var(--c-button-primary-shadow) !important;

  &:hover {
    background-color: color-mix(
      in oklch,
      var(--c-button-primary-bg),
      black 5%
    ) !important;
    color: var(--c-button-primary-text) !important;
  }
  &:active,
  &:focus {
    background-color: color-mix(
      in oklch,
      var(--c-button-primary-bg),
      black 10%
    ) !important;
    color: var(--c-button-primary-text) !important;
  }
}

.ff-el-form-control {
  color: var(--s-text-primary) !important;
}

.ff-el-form-control:focus {
  background-color: unset !important;
  border-color: var(--s-interactive-primary) !important;
}
